<script
  src="{{ 'banner.js' | asset_url }}"
  defer
></script>

<div class="section section--page-width tw:md:grid! tw:block!">
  <div class="banner-row">
    <div class="swiper banner-collection tw:w-full tw:max-w-full">
      <div class="swiper-wrapper">
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
            <div class="swiper-slide" {{ block.shopify_attributes }} data-index="{{ forloop.index0 }}">
              <a
                href="{{ block.settings.link | default: '/collections/all' }}"
                class="tw:md:rounded-lg tw:overflow-hidden tw:block tw:relative tw:md:h-160 tw:h-140"
              >
                {% if block.settings.image %}
                  <img
                    src="{{ block.settings.image | image_url: width: 2000 }}"
                    width="2000"
                    height="2000"
                    alt="{{ block.settings.banner_title | strip_html }}"
                    class="tw:w-full! tw:h-full! tw:object-cover tw:object-bottom tw:hidden tw:md:block"
                  >
                {% else %}
                  <img
                    src="{{ 'banner.webp' | asset_url }}"
                    width="2000"
                    height="2000"
                    alt="{{ block.settings.banner_title | strip_html }}"
                    class="tw:w-full! tw:h-full! tw:object-cover tw:object-bottom tw:hidden tw:md:block"
                  >
                {% endif %}

                <div class="tw:absolute tw:inset-0 tw:md:p-10 tw:ps-5 tw:pe-5 tw:py-10 tw:flex tw:flex-col tw:items-start tw:md:justify-center tw:justify-start tw:max-w-140 tw:gap-8">
                  <div class="tw:flex tw:flex-col tw:gap-4">
                    <div class="tw:md:text-6xl! tw:text-5xl">{{ block.settings.banner_title }}</div>
                    <p class="tw:text-base!">{{ block.settings.banner_description | strip_html }}</p>
                  </div>
                  <div class="button tw:py-2.5! tw:px-8! tw:rounded-3xl! tw:hover:text-white! tw:text-lg! tw:font-medium!">
                    {{ block.settings.banner_button_text }}
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner Slider",
  "tag": "section",
  "class": "banner-slider",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Banner Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Banner Image"
        },
        {
          "type": "richtext",
          "id": "banner_title",
          "label": "Banner Title",
          "default": "<p>Banner Title</p>"
        },
        {
          "type": "richtext",
          "id": "banner_description",
          "label": "Banner Description",
          "default": "<p>Add a compelling description for your banner here.</p>"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Banner Link"
        },
        {
          "type": "text",
          "id": "banner_button_text",
          "label": "Banner Button Text",
          "default": "Shop Now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Slider",
      "category": "Image",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
